<div class="main-menu">
    <nav class="navbar navbar-default menu">
        <div class="container-fluid p-0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Lorem ipsum dolor</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse p-0" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right m-r-40 m-r-sm-0 m-r-xs-0">
                    <li class="dropdown active">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li><a href="@Url.Action("Index", "Auction")">Auctions</a></li>
                    <li><a href="@Url.Action("Works", "Home")">Buy/Sell</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>